{% extends "layouts/main_layout.html" %}

{% block title %} About Us {% endblock %}

{% block contant %}
  <div class="card text-center" style="border: 0px; margin-bottom: 3em;">
    <img src="static/about-us.png" class="img-fluid back-shadow" alt="about-us photo">
    <div class="card-img-overlay">
      <h1 class="carousel-caption over-img-caption">About Us</h1>
    </div>
  </div>
  
  <div class="container marketing">
    <div class="row love_counter"  style="color: #f26422; font-family: 'Montserrat', sans-serif;">
      <div class="col-lg-4">
          <span class="hvr-grow"><h2 class="fade-int2"><span class="love_count">30000</span> +</h2></span>
          <h2 class="fade-int1" style="color: rgb(230, 230, 230); ">CUSTOMERS</h2>
      </div>
      <div class="col-lg-4">
          <span class="hvr-grow"><h2 class="fade-int2 "><span class="love_count">5 </span> star average</h2></span>
          <h2 class="fade-int1" style="color: rgb(230, 230, 230); ">FEEDBACK</h2>
      </div>

      <div class="col-lg-4">
          <span class="hvr-grow"><h2 class="fade-int2"><span class="love_count">40</span> +</h2></span>
          <h2 class="fade-int1" style="color: rgb(230, 230, 230); ">PRANDING</h2>
      </div>
    </div>


    <div class="row" >
      <div class="col-lg-6 text-center">
        <div class="back-alpha fade-in-block">
          <h2>Our Story</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui accusantium, sunt culpa repudiandae modi autem, saepe natus corrupti quam nesciunt eius assumenda, quidem doloremque consequatur impedit tempore. Explicabo, aliquam adipisci Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, tempora commodi. Error in sapiente iure, voluptas dicta eveniet, rerum deserunt fuga praesentium tempore sequi tempora ipsum laborum? Error, quisquam incidunt!</p>
        </div>
      </div>

      <div class="col-lg-6 text-center">
        <div class="back-alpha fade-in-block">
          <h2>What we do</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit laboriosam voluptatem sapiente excepturi ipsam suscipit fugiat debitis, nihil delectus, repellat dolor neque nemo vitae veniam autem animi minima fuga laborum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate iure voluptatem nostrum! Sit nam voluptatem, excepturi odit voluptatum ex. Repellat laboriosam minus, maxime possimus tempora voluptas mollitia! Obcaecati, saepe velit.</p>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row" >
      <div class="col-lg-8 text-center">
        <div class="back-alpha fade-in2t">
          <h2>Customer Service</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui accusantium, sunt culpa repudiandae modi autem, saepe natus corrupti quam nesciunt eius assumenda, quidem doloremque consequatur impedit tempore. Explicabo, aliquam adipisci Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, tempora commodi. Error in sapiente iure, voluptas dicta eveniet, rerum deserunt fuga praesentium tempore sequi tempora ipsum laborum? Error, quisquam incidunt!</p>
        </div>
      </div>

      <div class="col-lg-4 text-center">
        <div class="back-alpha fade-in1">
          <h2>Teamwork</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit laboriosam voluptatem sapiente excepturi ipsam suscipit fugiat debitis, nihil delectus, repellat dolor neque nemo vitae veniam.</p>
        </div>
      </div>
    </div>

    <h1 class="text-center" style="margin: 2em; color: whitesmoke; background-color: rgba(255, 255, 255, .3);">Testimonials</h1>

    <div class="row" style="margin: 5%;">
      <div class="col-lg-2">
        <div>
          <img src="static/person4.png" class="rounded-circle" width="100" height="100" alt="">
        </div>
      </div>
  
      <div class="col-lg-8 fade-in1t">
        <div>
          <p style="color: whitesmoke;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit voluptates neque dolorem natus labore impedit quas accusantium, aspernatur officia delectus deserunt ipsum eos aliquid repellendus, illum distinctio veniam ratione hic. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit laboriosam voluptatem sapiente excepturi ipsam suscipit fugiat debitis, nihil delectus, repellat dolor neque nemo vitae veniam autem.</p>
        </div>
      </div>
    </div>
  
    <div class="row" style="margin: 5%;">
      <div class="col-lg-2">
        <div>
          <img src="static/person1.png" class="rounded-circle" width="100" height="100" alt="">
        </div>
      </div>
  
      <div class="col-lg-8 fade-in3">
        <div>
          <p style="color: whitesmoke;">Lorem ipsum, Lorem ipsum dolor, sit amet consectetur amet quidem aperiam. Rem earum non molestias eius. dolor sit amet consectetur adipisicing elit. Odit laboriosam voluptatem sapiente excepturi ipsam suscipit fugiat debitis, nihil delectus, repellat dolor neque nemo vitae veniam autem.</p>
        </div>
      </div>
    </div>
  
    <div class="row" style="margin: 5%;">
      <div class="col-lg-2">
        <div>
          <img src="static/person2.png" class="rounded-circle" width="100" height="100" alt="">
        </div>
      </div>
  
      <div class="col-lg-8 fade-in3t">
        <div>
          <p style="color: whitesmoke;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deserunt voluptatem minima odit iste delectus, laudantium vel qui nesciunt magnam, quibusdam debitis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit laboriosam voluptatem sapiente excepturi ipsam suscipit fugiat debitis, nihil delectus, repellat dolor neque nemo vitae veniam autem.</p>
        </div>
      </div>
    </div>  

    <h1 class="text-center" style="margin: 2em; color: whitesmoke; background-color: rgba(255, 255, 255, .3);">Our Team</h1>

    <div class="row"  style="color: whitesmoke;">
      <div class="col-lg-4">
        <img class="rounded-circle" src="static/founder.png" alt="Generic placeholder image" width="140" height="140">
        <div class="back-alpha" style="margin-top: 1em;">
          <h2>Founder</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="static/CEO.png" alt="Generic placeholder image" width="140" height="140">
        <div class="back-alpha" style="margin-top: 1em;">
          <h2>CEO</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="static/team-manager.png" alt="Generic placeholder image" width="140" height="140">
        <div class="back-alpha" style="margin-top: 1em;">
          <h2>Team Manager</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
      </div>
    </div>

  </div>


  
  <!-- <div class="card bg-dark text-white" style="margin-top: 5em; border: 0px;">
    <img src="static/our-team.png" class="card-img" alt="about-us photo">
    <div class="card-img-overlay text-center">
      <h1 class="card-title">Our team</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores cum molestias consectetur fuga facilis est iure quisquam, pariatur, voluptas quibusdam blanditiis officiis inventore corporis sit? Saepe quis pariatur consequuntur! Sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minus deserunt, ea, culpa earum excepturi iure fugit voluptas qui unde consectetur distinctio maiores, praesentium harum! Cumque omnis quis quod ipsam? This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div> -->
{% endblock %}